.fb-btn {
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: Courier New, Courier, monospace;
}
