<div class="container">
  <div class="container" *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <div>
      <h1>Welcome to SE-task.</h1>
      <button class="fb-btn" (click)="login()">
        <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?oh=8ba4730dd8728f6fc0a63c7c6f924739&oe=5AD919EA"
          alt="Login with Facebook" width="350">
      </button>
    </div>
  </ng-template>
</div>